@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot');
	src:url('icomoon.eot?#iefix') format('embedded-opentype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-image, .icon-profile, .icon-file, .icon-paste, .icon-tag, .icon-tags, .icon-coin, .icon-envelop, .icon-history, .icon-clock, .icon-alarm, .icon-bubbles, .icon-bubble, .icon-undo, .icon-redo, .icon-undo-2, .icon-redo-2, .icon-spinner, .icon-user, .icon-users, .icon-user-2, .icon-users-2, .icon-user-3, .icon-user-4, .icon-search, .icon-zoom-in, .icon-zoom-out, .icon-cog, .icon-stats, .icon-aid, .icon-bars, .icon-trophy, .icon-signup, .icon-tree, .icon-remove, .icon-remove-2, .icon-star, .icon-heart, .icon-smiley, .icon-sad, .icon-grin, .icon-angry, .icon-neutral, .icon-cancel-circle, .icon-checkmark-circle, .icon-close, .icon-checkmark, .icon-plus, .icon-minus, .icon-play, .icon-tab, .icon-radio-checked, .icon-gift, .icon-camera, .icon-cart, .icon-phone, .icon-calendar, .icon-airplane, .icon-briefcase, .icon-check-alt, .icon-x-altx-alt, .icon-plus-alt, .icon-minus-alt, .icon-loop,.icon_unvailable,.icon_available {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-image:before {
	content: "\e002";
}
.icon-profile:before {
	content: "\e000";
}
.icon-file:before {
	content: "\e00c";
}
.icon-paste:before {
	content: "\e001";
}
.icon-tag:before {
	content: "\e003";
}
.icon-tags:before {
	content: "\e004";
}
.icon-coin:before {
	content: "\e005";
}
.icon-envelop:before {
	content: "\e006";
}
.icon-history:before {
	content: "\e007";
}
.icon-clock:before {
	content: "\e008";
}
.icon-alarm:before {
	content: "\e009";
}
.icon-bubbles:before {
	content: "\e00a";
}
.icon-bubble:before {
	content: "\e00b";
}
.icon-undo:before {
	content: "\e00d";
}
.icon-redo:before {
	content: "\e00e";
}
.icon-undo-2:before {
	content: "\e01c";
}
.icon-redo-2:before {
	content: "\e00f";
}
.icon-spinner:before {
	content: "\e010";
}
.icon-user:before {
	content: "\e011";
}
.icon-users:before {
	content: "\e012";
}
.icon-user-2:before {
	content: "\e013";
}
.icon-users-2:before {
	content: "\e014";
}
.icon-user-3:before {
	content: "\e015";
}
.icon-user-4:before {
	content: "\e016";
}
.icon-search:before {
	content: "\e017";
}
.icon-zoom-in:before {
	content: "\e018";
}
.icon-zoom-out:before {
	content: "\e019";
}
.icon-cog:before {
	content: "\e01a";
}
.icon-stats:before {
	content: "\e01b";
}
.icon-aid:before {
	content: "\e01d";
}
.icon-bars:before {
	content: "\e01e";
}
.icon-trophy:before {
	content: "\e01f";
}
.icon-signup:before {
	content: "\e020";
}
.icon-tree:before {
	content: "\e021";
}
.icon-remove:before {
	content: "\e022";
}
.icon-remove-2:before {
	content: "\e023";
}
.icon-star:before {
	content: "\e024";
}
.icon-heart:before {
	content: "\e025";
}
.icon-smiley:before {
	content: "\e026";
}
.icon-sad:before {
	content: "\e027";
}
.icon-grin:before {
	content: "\e028";
}
.icon-angry:before {
	content: "\e029";
}
.icon-neutral:before {
	content: "\e02a";
}
.icon-cancel-circle:before {
	content: "\e02b";
}
.icon-checkmark-circle:before {
	content: "\e02c";
}
.icon-close:before {
	content: "\e02d";
}
.icon-checkmark:before {
	content: "\e02e";
}
.icon-plus:before {
	content: "\e02f";
}
.icon-minus:before {
	content: "\e030";
}
.icon-play:before {
	content: "\e031";
}
.icon-tab:before {
	content: "\e032";
}
.icon-radio-checked:before {
	content: "\e033";
}
.icon-gift:before {
	content: "\e034";
}
.icon-camera:before {
	content: "\e035";
}
.icon-cart:before {
	content: "\e036";
}
.icon-phone:before {
	content: "\e037";
}
.icon-calendar:before {
	content: "\e038";
}
.icon-airplane:before {
	content: "\e039";
}
.icon-briefcase:before {
	content: "\e03a";
}
.icon-check-alt:before {
	content: "\e03d";
}
.icon-x-altx-alt:before {
	content: "\e03e";
}
.icon-plus-alt:before {
	content: "\e03b";
}
.icon-minus-alt:before {
	content: "\e03c";
}
.icon-loop:before {
	content: "\e03f";
}
.icon_unvailable:before{
	content: "\e03e";
}
.icon_available:before{
	content: "\e03d";
}
